# Challenge 1 - Basic Time Series


Time series manipulation is perhaps one of the most dreaded and brain-braking data munging activities. We need good tools to facilitate our jobs. 

In this challenge you will try to perform some basic data analysis and manipulations that require working with time series. Python, especially through Pandas, has great time series funcionality.

Instead of having a filled notebook where you (and me) can look at the answers I will first let you try to complete the challenge on your own. After you give it a go I will guide you through showing you my thought process and how I would solve some of the issues. This challenge will also be a test of how good you are at reading documentation.

## Objective

* Calculate the monthly and annual total oil production from the Alba field in the North Sea.

### Data

In the following cell you will find a list with monthly oil production in **thousand barrels per day** for **Jan 2019 to Dec 2020** for the ALBA field. Two years worht of data. Each data point is recorded by months end.

* Source https://data-ogauthority.opendata.arcgis.com/pages/production

In [29]:
import pandas as pd
import numpy as np

In [9]:
production = [12.66, 11.74, 11.04,11.13,11.36,10.21,11.01,4.97,6.46,9.66,9.89,
              9.84,8.27,8.47,8.45,8.04,7.99,8.55,7.70,7.60,4.76,7.74,8.17,8.06]

## Task 1. Transform de list into a Pandas series with a time series index.

In [74]:
# Hints pd.Series, pd.date_range

## Task 2. Calculate total monthly production and plot

In [73]:
# Hint: days_in_month method

## Task 3. Calculate annual production and plot

In [57]:
# Hint: years method, and pd.DataFrame, pd.groupby

# Bonus challenge: parse date times

It is common for analysts to receive data with different time formats. Pandas has powerful tools to parse complex dates. 
Try the next ones.

In [72]:
# pd.to_datetime, mind your format options
dates1 = ['15/03/18', '21/05/18'] #day, month, year
dates2 = ['15/18/03 23:11:05', '21/18/05 12:05:06'] #day, year, month, hour (24hrs), min, seconds